In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

import pandas as pd
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_colwidth', 400)

In [2]:
import joblib
from sklearn.tree import DecisionTreeRegressor

In [3]:
specs = pd.read_csv('../data/specs_clean.csv')
specs = specs[specs['original_price']<3000] # resale model only valid in this range
len(specs)

311

In [4]:
resale_price_model = joblib.load('../data/resale_price_model.pkl')
prep_pipeline = joblib.load('../data/prep_pipeline.pkl')

### Predict and append resale price for each lens

In [5]:
specs['brand'].unique()

array(['leica', 'canon', 'sony', 'samsung', 'fujifilm', 'nikon', 'tamron',
       'olympus', 'venus', 'panasonic', 'tokina', 'pentax', 'samyang',
       'voigtlander', 'sigma', 'nikkor', 'rokinon'], dtype=object)

In [6]:
# replace all but sony, fujifilm, panasonic and nikon
specs.replace(['leica', 'canon', 'samsung', 'tamron','olympus', 'venus', 'tokina', 'pentax', 'samyang','voigtlander', 'sigma', 'nikkor', 'rokinon'], 'other', inplace=True)

In [7]:
x_all = specs[['original_price', 'flen_max', 'flen_min', 'f_min','brand', 'announce_date']]
x_all_prepd = prep_pipeline.transform(x_all)
specs['resale_price'] = resale_price_model.predict(x_all_prepd)

In [8]:
import matplotlib.pyplot as plt

plt.hist(specs['resale_price']/specs['original_price'], bins=20);

### Append usage scores

In [9]:
usage_opts = {'wildlife','landscape','portraits','low_light'}
for usage in usage_opts:
    usage_stats = pd.read_csv('../data/usage_'+usage+'.csv')
    df_ = pd.DataFrame(usage_stats['lens_id'].value_counts().reset_index()) 
    df_.columns = ['lens_id', usage+'_score']
    specs = pd.merge(specs, df_, on='lens_id', how='left')
    specs[usage+'_score'] = specs[usage+'_score'].fillna(0)

In [10]:
specs.head()

,lens_id,brand,original_price,announce_date,format,flen_min,flen_max,image_stabilization,f_min,elements,...,minimum_focus,maximum_magnification,autofocus,weight,sealing,resale_price,landscape_score,wildlife_score,portraits_score,low_light_score
0,leica_t_55-135_3p5-4p5,other,2095.000,2014,1.33,55.0,135.0,False,3.5,12,...,1.00,-1.00,True,500,False,858.333333,0.0,0.0,0.0,0.0
1,canon_70-200_4_is_ii_usm,other,1299.000,2018,2.00,70.0,200.0,True,4.0,20,...,1.00,0.27,True,780,True,388.571429,2.0,4.0,3.0,1.0
2,sony_fe_50_1p8,sony,247.975,2016,2.00,50.0,-1.0,False,1.8,6,...,0.45,0.14,True,186,False,153.333333,2.0,0.0,8.0,8.0
3,samsung_10_3p5,other,552.820,2013,1.33,10.0,-1.0,False,3.5,7,...,0.09,0.22,True,71,False,337.500000,0.0,0.0,0.0,0.0
4,fujifilm_xc_50-230_ii,fujifilm,399.000,2015,1.33,50.0,230.0,True,4.5,13,...,1.10,0.20,True,-1,False,170.000000,3.0,0.0,0.0,4.0

In [11]:
len(specs)

311

### Restore brand labels

In [12]:
specs['brand'] = specs['lens_id'].apply(lambda x: x.split('_')[0])

In [13]:
specs.head()

,lens_id,brand,original_price,announce_date,format,flen_min,flen_max,image_stabilization,f_min,elements,...,minimum_focus,maximum_magnification,autofocus,weight,sealing,resale_price,landscape_score,wildlife_score,portraits_score,low_light_score
0,leica_t_55-135_3p5-4p5,leica,2095.000,2014,1.33,55.0,135.0,False,3.5,12,...,1.00,-1.00,True,500,False,858.333333,0.0,0.0,0.0,0.0
1,canon_70-200_4_is_ii_usm,canon,1299.000,2018,2.00,70.0,200.0,True,4.0,20,...,1.00,0.27,True,780,True,388.571429,2.0,4.0,3.0,1.0
2,sony_fe_50_1p8,sony,247.975,2016,2.00,50.0,-1.0,False,1.8,6,...,0.45,0.14,True,186,False,153.333333,2.0,0.0,8.0,8.0
3,samsung_10_3p5,samsung,552.820,2013,1.33,10.0,-1.0,False,3.5,7,...,0.09,0.22,True,71,False,337.500000,0.0,0.0,0.0,0.0
4,fujifilm_xc_50-230_ii,fujifilm,399.000,2015,1.33,50.0,230.0,True,4.5,13,...,1.10,0.20,True,-1,False,170.000000,3.0,0.0,0.0,4.0

### Create final DB

In [15]:
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2

dbname, tabname, username = 'results_db', 'results', 'ana'
engine = create_engine(f'postgresql://{username}:nonsense@localhost/{dbname}')
print(f'Created engine: {engine.url}')
if database_exists(engine.url):
  print(f'Database {dbname} found.')
else:
  print(f'Database {dbname} not found. Creating database...',)
  create_database(engine.url)
  print('Done.')

specs.to_sql(tabname, engine, if_exists='replace')
print(f'Wrote {tabname} table to {dbname}.')

Created engine: postgresql://ana:nonsense@localhost/results_db
Database results_db not found. Creating database...
Done.
Wrote results table to results_db.