In [9]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

import pandas as pd
pd.set_option('display.max_rows', 100)

# if I want to see the full frame with some column wider:
# check.style.set_properties(subset=['item'], **{'width': '500px'})

In [10]:
import matplotlib as plt
import seaborn as sns
sns.set()

In [11]:
sales = pd.read_csv('../data/sales.csv')
sales.style.set_properties(subset=['item'], **{'width': '300px'})

# kill posts that look like multiple items got put together in one sale
sales = sales[~((sales['item'].str.contains('with')) | (sales['item'].str.contains('and')) | (sales['item'].str.contains('plus')) | (sales['item'].str.contains('+',regex=False)))]
sales = sales[~((sales['item'].str.contains('accessor')) | (sales['item'].str.contains('extra')) | (sales['item'].str.contains('&')))]

features = [
# 'topic_id', 
'lens_id', 
'price', 
# 'first_date', 
# 'last_date',
# 'item', 
'flen_min', 
'flen_max', 
'f_min', 
'brand', 
'original_price',
'announce_date', 
# 'condition'
]
# remove extra info columns
sales = sales[features]
sales.head()

,lens_id,price,flen_min,flen_max,f_min,brand,original_price,announce_date
0,fujifilm_xf_16-55_2p8_lm_wr,710.0,16.0,55.0,2.8,fujifilm,907.495,2015
1,sony_fe_200-600_5p6-6p3_g_oss,1775.0,200.0,600.0,5.6,sony,1998.000,2019
2,fujifilm_xf_16-55_2p8_lm_wr,750.0,16.0,55.0,2.8,fujifilm,907.495,2015
3,sony_16-35_2p8_za_ssm_ii,1550.0,16.0,35.0,2.8,sony,2248.000,2015
4,sony_zeiss_fe_70_200_4_oss,950.0,70.0,200.0,4.0,sony,1323.000,2013

In [12]:
sales['brand'].value_counts()

sony         428
nikon        175
canon        148
fujifilm     148
tamron        93
panasonic     43
sigma         35
olympus       28
leica         19
pentax         6
nikkor         5
tokina         2
Name: brand, dtype: int64

In [13]:
sales[sales['price']<10].shape

(40, 8)

In [14]:
# cut 3 crazy outliers
sales = sales[(sales['price']>1) & (sales['price']<10000)] 
# not enough data for some brands
sales = sales[(sales['brand']!='pentax') & (sales['brand']!='nikkor') & (sales['brand']!='tokina')] 
# a few listings say $1.00, which is of course not the actual price...
# kill ~ 10% of posts since the price is higher than original since they contain multiple items (e.g. camera+lens, or 2 lenses)
sales = sales[(sales['price']-sales['original_price']<0)] 
sales['brand'].value_counts()

sony         399
canon        144
nikon        142
fujifilm     140
tamron        83
panasonic     37
sigma         34
olympus       27
leica         16
Name: brand, dtype: int64

In [15]:
# sns.pairplot(sales, hue='brand', size=3, diag_kind='hist')

In [16]:
sales.to_csv('../data/sales_clean.csv', index=False)