In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [14]:
import pandas as pd
import math

In [4]:
df = pd.read_csv('../data/lens_specs.csv')

In [5]:
df.describe()

,Unnamed: 0,original_price,announce_date,flen_min,flen_max,f_min,elements,groups,minimum_focus,maximum_magnification,weight
count,428.000000,428.000000,428.000000,420.000000,420.000000,422.000000,428.000000,428.000000,428.000000,428.00000,428.000000
mean,213.500000,1417.595584,2014.271028,58.604762,71.102381,2.998578,12.838785,9.689252,0.562103,0.08232,634.109813
std,123.697211,2145.436755,2.737783,93.561041,117.418154,1.230162,5.174672,3.889477,0.727905,0.62111,700.469575
min,0.000000,48.040000,2010.000000,3.200000,-1.000000,1.000000,-1.000000,-1.000000,-1.000000,-1.00000,-1.000000
25%,106.750000,405.067500,2012.000000,18.000000,-1.000000,2.000000,9.000000,7.000000,0.250000,0.11000,209.500000
50%,213.500000,747.475000,2014.000000,30.000000,-1.000000,2.800000,13.000000,10.000000,0.350000,0.18000,457.500000
75%,320.250000,1499.000000,2016.000000,56.000000,100.000000,3.650000,16.000000,12.000000,0.700000,0.25000,780.000000
max,427.000000,16296.950000,2020.000000,800.000000,600.000000,12.000000,32.000000,24.000000,5.900000,5.00000,4590.000000

In [22]:
# check if focal length and aperture allows to select unique lenses
has_duplicate = set()
for ilens in range(len(df)):
    iflen_min = df['flen_min'].iloc[ilens]
    iflen_max = df['flen_max'].iloc[ilens]
    if_min = df['f_min'].iloc[ilens]
    ibrand = df['brand'].iloc[ilens]
    df_other = df.drop([ilens])
    df2 = df_other[(df_other['brand']==ibrand)&(df_other['flen_min']==iflen_min)&(df_other['flen_max']==iflen_max)&(df_other['f_min']==if_min)]
    if len(df2)>0:
        printed = False
        for i in range(len(df2)):
            reldiff = abs(df['original_price'].iloc[ilens]-df2['original_price'].iloc[i])/df['original_price'].iloc[ilens]
            if  reldiff>.3:
                if not printed: 
#                     print(df['lens_id'].iloc[ilens])
                    has_duplicate.add(df['lens_id'].iloc[ilens])
                    printed = True
#                 print(df2['lens_id'].iloc[i])
                has_duplicate.add(df2['lens_id'].iloc[i])
                
print(has_duplicate)

{'olympus_m_75-300_4p8-6p7', 'olympus_m_40-150_4-5p6_r', 'tamron_18-270_3p5-6p3_vc_pzd', 'panasonic_x_14-42_3p5-5p6_pz', 'tamron_70-300_4-5p6_di_usd', 'sigma_18-200_3p5-6p3_c', 'nikon_35_1p8g', 'fujifilm_xc_50-230_ii', 'leica_tl_35_1p4_asph', 'panasonic_14-42_3p5-5p6_ii', 'canon_70-200_2p8_is_iii_usm', 'tamron_70-300_4-5p6_di_vc_usd', 'fujifilm_xc_50-230', 'nikon_50_1p8_g', 'sony_e_35_1p8', 'panasonic_35-100_2p8', 'tamron_18-270_3p5-6p3_pzd', 'nikon_50_1p8_g_sp_ed', 'canon_rf_24-105_4p0-7p1_is_stm', 'sony_35_1p8', 'nikon_z_85_1p8_s', 'fujifilm_mk_18_55_t2p9', 'nikon_85_1p8g', 'leica_m_35_1p4', 'panasonic_35-100_2p8_ii', 'sigma_150-600_5p0-6p3_dg_os_hsm_c', 'canon_70-300_4-5p6l_is', 'canon_ef_24-105_4_usm_ii', 'canon_70-300_4p0-5p6_is_ii_usm', 'olympus_m_75-300_4p8-6p7_ii', 'olympus_m_40-150_4-5p6', 'sigma_30_1p4_dc_dn_c_mft', 'canon_24_2p8_is', 'canon_rf_24-70_2p8l_is_usm', 'tamron_18-200_3p5-6p3_di_iii_vc', 'fujifilm_mkx_18_55_t2p9', 'fujifilm_xf_56mm_apd', 'pentax_hd_da_40_2p8_ltd', 'fujifilm_xf_18-55', 'tamron_18-200_3p5-6p3_di_ii_vc', 'zeiss_milvus_21_2p8', 'canon_rf_70-200_2p8l_is_usm', 'canon_24_2p8_stm', 'sigma_30_1p4_dc_dn_c', 'nikon_z_35_1p8_s', 'sigma_18-200_3p5-6p3_os_hsm', 'sony_e_50_1p8', 'pentax_xs_40_2', 'sigma_a_30_1p4', 'canon_24-70_2p8_ii', 'zeiss_loxia_21_2p8', 'sony_fe_50_1p8', 'sigma_150-600_5p0-6p3_dg_os_hsm_s', 'fujifilm_xf_56mm', 'canon_rf_24-105_4l_is_usm', 'sony_fe_35_1p8'}